<!DOCTYPE html>
<html lang="en" ng-app="reportApp" >
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div ng-controller="formCtrl">
    <form >
      First Name: <br>
      <input type="text" ng-model="student.firstName"> <br>
      Last Name: <br>
      <input type="text" ng-model="student.lastName"> <br>
      Math Grade:<br>
      <input type="text" ng-model="student.mathGrade"> <br>
      Science Grade:<br>
      <input type="text" ng-model="student.scienceGrade"><br>
      English Grade:<br>
      <input type="text" ng-model="student.englishGrade"><br>
      Comments: <br>
      <textarea ng-model="student.comment"></textarea><br>
    </form>
    <table>
      <th>Student</th><br>
      <tr>
        <td>{{ student.fullName() }}</td>
      </tr>
      <tr>
        <td> math {{ student.mathGrade }}</td>
      </tr>
      <tr>
        <td> science {{ student.scienceGrade }}</td>
      </tr>
      <tr>
        <td> english {{ student.englishGrade }}</td>
      </tr>
      <tr>
        <td>Comments: {{student.comment }}</td>
      </tr>
    </table>



  </div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="app.js"></script>
<script src="formCtrl.js"></script>
</body>
</html>
